
<body style = "background-color: ">
  <nav style ="background-color:#4B0082" class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a style = "margin-right: 10%; color: white" class="navbar-brand" href="/main">IMAGE-REPO</a>
      <form action = "/register" method = "get"> 
        <button style = "color: black; background-color: #e6e6e6 " class="btn btn-outline-success" type="submit">REGISTER</button>
      </form>
    </div>
  </nav>
</body>