
<body style = "background-color: ">
  <nav style ="background-color:#4B0082" class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a style = "margin-right: 10%; color: white" class="navbar-brand" href="/main">IMAGE-REPO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a style = "color: white ; margin-right: 2.5%; margin-left: 2.5%" class="nav-link active" aria-current="page" href="/images/addImage">Add Image</a>
          </li>
          <li class="nav-item">
            <a style = "color: white ; margin-right: 2.5%; margin-left: 2.5%" class="nav-link active" aria-current="page" href="/images/myImages">View My Images</a>
          </li>
        </ul>
        <form action = "/images/search" method = "post" style = "margin-right: 10px" class="d-flex">
          <input name = "searchInput" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button style = "color: white; background-color:#28a745 " class="btn btn-outline-success" type="submit">Search My Images</button>
        </form>
        <span style = "color: white; margin-right: 17.5%; margin-left: 2.5%">Logged in as: <%=email%> </span>
        <form action = "/logout" method = "get"> 
          <button style = "color: black; background-color: #e6e6e6 " class="btn btn-outline-success" type="submit">LOGOUT</button>
        </form>
       
      </div>
    </div>
  </nav>
</body>