<head>
	<title>Register Page - Image Repository</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../styles/registerPage.css" type="text/css" />
</head>

<body style = " background-image: url('https://images.unsplash.com/photo-1585424324366-7c19ac81880d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80'">

    <nav style ="background-color:#4B0082" class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a style = "margin-right: 65%; color: white" class="navbar-brand" href="#">IMAGE-REPO</a>
        <button style = "color: black; background-color: #e6e6e6 " class="btn btn-outline-success" type="submit"><a>LOGIN</a></button>
        <button style = "color: black; background-color: #e6e6e6 " class="btn btn-outline-success" type="submit"><a>REGISTER</a></button>
      </div>
    </nav>

    <div style = "border-radius: 20px; border: solid 2px purple; padding: 2%; background-color:  #e6e6e6; margin-top: 3%; margin-left: 20%; margin-right: 20%;">
      <h2 style= " margin: auto"> WELCOME TO IMAGE-REPO!</h1>
      <p>
        <b>   
        <br>
        IMAGE-REPO is a site designed to allow users to upload images and save to their own repository.
        Users can store all their images in one place  and even 
        search by titles, how cool is that?
        <br>
        <br>
        To begin using this awesome site, please login or register.
        Once again, welcome to IMAGE-REPO!
        <br>
  
      </b>
      </p>

    </div>
</body>
