<head>
	<title>Filtered Images By Search</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>
<body>

    <header>
      <%- include('partials/header') %>
    </header>
    <div id="login">
      <h3 class="text-center text-danger pt-5">Below is your selected image!</h3>
      <div class="main-resource">
          <article class="resource" style ="padding: 20px">
            <div class="info">
              <div>
                <p class="resource-data"><%= imageInfo.title%></p>
               
              </div>
            </div>
            <p class="resource-data"><%= imageInfo.description%></p>
            <img src="http://localhost:8080/images/serveImage/image.png?p=<%=imageInfo.filepath%>" width="500" height="600">
          </article>
      </div>
  </div>
</body>
